$namespace: 		'bl';

$overlay-opacity	: 0.7;
$overlay-zindex		: 10000;
$overlay-color		: #000000;

$color-success	: #359CFC;
$color-error	: #C93232;
$color-default	: #B6B6B6;
$color-warning	: #F59E2E;
$color-info		: #1CD17A;

$dialog-zindex			: 10001;
$dialog-width			: 480px;
$dialog-margin-left		: -$dialog-width/2;

$dialog-border						: 0px;
$dialog-border-color				: #F0F0F0;
$dialog-border-top-color-default 	: $color-default;
$dialog-border-top-color-success	: $color-success;
$dialog-border-top-color-error		: $color-error;
$dialog-border-top-width			: 8px;
$dialog-font-size					: 1.2em;
$dialog-text-color					: #535151;

$dialog-box-shadow-hl 		: 0px;
$dialog-box-shadow-vl 		: 2px;
$dialog-box-shadow-blur 	: 5px;
$dialog-box-shadow-spread 	: 5px; 
$dialog-box-shadow-color 	: #333;

$btn-padding : 10px;
$btn-bgcolor : #C2C3C4;
$btn-min-width: 70px;
$btn-align: center;

$dialog-header-padding		: 10px;
$dialog-header-font-size	: 2em;

$dialog-content-padding		: 15px;

$dialog-footer-margin: 10px;

$dialog-anim-duration	: 0.3s;
$dialog-anim-out-duration: 0.2s;
$dialog-anim-diff		: 0.2;